<div>
    <div >
        <h1 class="mb-6 text-3xl max-w-lg mx-auto text-[#050042]">Comparison between Typical<span class="font-semibold">Korean Software Companies and Potential </span></h1>
    <p class="font-thin  mx-auto max-w-sm  mb-5">Unveiling the Advantages and Considerations for Your Software Development Journey</p>
</div>

<div>

<div class="relative overflow-x-auto p-5  mb-5">
    <table class="w-full text-sm text-left  text-gray-500 ">
        <thead class="text-xs text-white uppercase bg-blue-800    ">
            <tr>
                <th scope="col" class="p-4 " >
                    Potential
                </th>
                <th scope="col" >
                    Typical Korean Software Company
                </th>
                
            </tr>
        </thead>
        <tbody>
           
            <tr class="bg-white border">
                
                <td class=" px-6 py-4 p-4">
                   
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Shorter development cycles</label>
                    </div>
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Agile and efficient process</label>
                    </div>
                </td>
                <td class="border px-6 py-4 p-4">
                   
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Shorter development cycles</label>
                    </div>
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Agile and efficient process</label>
                    </div>
                </td>
                
                
            </tr>
            <tr class="bg-white border">
                
                <td class=" px-6 py-4 p-4">
                   
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Shorter development cycles</label>
                    </div>
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Agile and efficient process</label>
                    </div>
                </td>
                <td class="border px-6 py-4 p-4">
                   
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Shorter development cycles</label>
                    </div>
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Agile and efficient process</label>
                    </div>
                </td>
                
                
            </tr>
            <tr class="bg-white border">
                
                <td class=" px-6 py-4 p-4">
                   
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Shorter development cycles</label>
                    </div>
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Agile and efficient process</label>
                    </div>
                </td>
                <td class="border px-6 py-4 p-4">
                   
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Shorter development cycles</label>
                    </div>
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Agile and efficient process</label>
                    </div>
                </td>
                
                
            </tr>
           
        </tbody>
    </table>
</div>

<div class="p-5">
    <div class="flex flex-wrap">
        <span class="font-bold ">Time Taken: </span>
        <p class="text-md font-thin">At Potential, we prioritize agile and efficient development, ensuring quicker time-to-market for your projects compared to traditional Korean software companies.</p>
    </div>
    <div class="flex flex-wrap">
        <span class="font-bold ">Cost: </span>
        <p ><div class="flex flex-wrap">
            <span class="font-bold ">Time Taken: </span>
            <p class="text-md font-thin">At Potential, we prioritize agile and efficient development, ensuring quicker time-to-market for your projects compared to traditional Korean software companies.</p>
        </div></p>
    </div>
    <div class="flex flex-wrap">
        <span class="font-bold ">Team: </span>
        <p  class="text-md font-thin"> Our team comprises highly skilled professionals from diverse backgrounds,  a wealth of expertise and innovative ideas to your projects, which may not be as readily available in a typical Korean software company.</p>
    </div>
</div>

</div>
</div>