<div>
    <div class="bg-[#050042] ">
      <div class="p-5">
        <div class="text-center">
          <h1 class="mb-6 text-2xl lg:text-6xl text-white">
            Our Portfolio
          </h1>
          <p class="font-thin text-white mx-auto sm:max-w-sm mb-5">
            Showcasing Our Finest Creations and Success Stories
          </p>
        </div>
       <div>
        <div class="flex justify-between gap-5">
            <div class="flex items-center">
              <div class="p-5">
                <div class="mb-2">
                  <a href="#">
                    <h1 class="mb-2 text-3xl font-bold tracking-tight text-white dark:text-white">AR Library</h1>
                    <h5
                      class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white"
                    >
                    Mobile App Design
                    </h5>
                  </a>
    
                  
                </div>
    
                <p class="mb-3 font-normal text-white dark:text-gray-400">
                    Avalanche is an open-source platform for building decentralized for AR Library - App Design.
                </p>
              
    
                <div class="mt-2">
                  <h1 class="text-white">See case studies</h1>
                 <div class="flex gap-2">
                    <span class="flex w-3 h-3 bg-gray-200 rounded-full dark:bg-gray-700"></span>
                    <span class="flex w-3 h-3 bg-gray-200 rounded-full dark:bg-gray-700"></span>
                    <span class="flex w-3 h-3 bg-gray-200 rounded-full dark:bg-gray-700"></span>
                 </div>
                </div>
              </div>
            </div>
            <div class="" >
              <img
                class="rounded-lg w-2/3 "
                src="https://i.postimg.cc/Rhrd55hm/charity-app-concept-23-2148608518.jpg"
                alt=""
              />
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>
  