<div>
  <div>
   
    <div >
      <div class="flex justify-between gap-5 ">
        <div>
            <img
              class="rounded-lg p-5"
              src="https://i.postimg.cc/hGZ1G07j/img3.jpg"
              alt=""
            />
          </div>
        <div class="flex items-center">
          <div class="p-5">
            <div class="mb-2">
              <a href="#">
                <h5
                  class="mb-2 text-2xl   tracking-tight text-gray-900 dark:text-white"
                >
                We Know<span class="font-semibold">Not Only Software </span> But <span class="font-semibold">Business</span>
                </h5>
              </a>

             
            </div>

            <p class="mb-3 max-w-sm font-normal text-gray-700 dark:text-gray-400">
                In this concise yet powerful statement, we affirm our proficiency in not just the technical aspects of software but also our deep understanding of the business world. Our expertise goes beyond mere coding and development; we grasp the intricacies of various industries, market dynamics, and the ever-evolving needs of our clients. With this holistic knowledge, we are uniquely positioned to provide innovative and tailored solutions that drive real business growth and success. Emphasizing the fusion of technical prowess and business acumen, we stand ready to navigate the challenges of the digital landscape and unlock the full potential of your enterprise.
            </p>
            <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">See more
                  <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
              </a>
            

            
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>
